.restaurantCard {
    /* max-width: 100 */
    margin-top: 30px;
    min-height: 70px;
    padding-left: 19px;
    padding-top: 15px;
    padding-right: 5px;
    font-size: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(234, 240, 247, 0.8), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
/* 
    border-left-style: solid; */
}